.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

:root {
  --primary-color: #1bfbe4;
  --secondary-color: #ff56ee;
  --tertiary-color: #4effa1;

  --main-background-color: #050711;
  --primary-text-color: #cccccc;
  --secondary-text-color: #849fb4;

  --primary-gradient: linear-gradient(
          90deg,
          rgb(78, 255, 207) 0%,
          rgb(8, 164, 188) 100%
  );
  --secondary-gradient: linear-gradient(
          90deg,
          rgb(255, 86, 238) 0%,
          rgb(62, 87, 194) 100%
  );
}

#div1 {
  background-color: var(--main-background-color);
  height: 10vh;
}

.logo{
  margin-left: 200px;
  margin-top: 20px;
  width: 200px;
  height: 70px;
  float: left;
}

.avatar{
  margin-left: -30px;
  margin-top: 20px;
  width: 60px;
  height: 60px;
  float: left;
}

.floatingNavigation {
  float: left;
  width: 1px;
  margin-top: 25px;
  margin-left: 350px;
  color: var(--secondary-text-color);
}

h1 {
  background-color: black;
  color: white;
}

.rectangle {
  height: 100px;
  width: 420px;
  float: left;
  margin-left: 200px;
  background-image: linear-gradient(to right, rgb(78, 255, 207) 0%, rgb(8, 164, 188) 100%)
}

.wrapper {
  border-bottom: 2px solid rgb(8, 164, 188);
  overflow: hidden;
}

#div2 {
  background-color: #0d101d;
  height: 10vh;
  margin-top: -20px;
}

#div3 {
  background-color: var(--main-background-color);
  height: 10vh;
}

#div4 {
  height: 70vh;
  background-color: var(--main-background-color);
}

.wrapperOverview {
  overflow: hidden;
}

.floatingOverview {
  float: left;
  width: 120px;
  margin-left: 200px;
  color: var(--secondary-text-color);
}

.child1_div4{
  float: left;
  margin-left: 150px;
  border: 1px solid #0d101d;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #0d101d;
}

.child2_div4{
  float: left;
  margin-left: 20px;
  border: 1px solid #0d101d;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #0d101d;
}
.child3_div4{
  float: left;
  margin-left: 20px;
  border: 1px solid #0d101d;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #0d101d;
  height: 80px;
  width: 650px;
}

.child4_div4{
  float: left;
  margin-left: 20px;
  border: 1px solid #0d101d;
  border-radius: 10px;
  background-color: #0d101d;
  height: 250px;
  width: 650px;
}
